In [1]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range('20170101', periods=6)
df1 = pd.DataFrame(np.arange(24).reshape(6,4), index=dates, columns=['A','B','C','D'])
df1

             A   B   C   D
2017-01-01   0   1   2   3
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23

In [4]:
# 将DataFrame的列获取为一个Series
df1['A']

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int64

In [5]:
# 将DataFrame的列获取为一个Series
df1.A

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int64

In [6]:
# 获取前两行
df1[0:2]

            A  B  C  D
2017-01-01  0  1  2  3
2017-01-02  4  5  6  7

In [7]:
df1['20170102':'20170104']

             A   B   C   D
2017-01-02   4   5   6   7
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15

In [9]:
# 通过索引选择数据
df1.loc['20170102']

A    4
B    5
C    6
D    7
Name: 2017-01-02 00:00:00, dtype: int64

In [10]:
df1.loc['20170102', ['A','C']]

A    4
C    6
Name: 2017-01-02 00:00:00, dtype: int64

In [11]:
# 取所有行，只取A，B列
df1.loc[:,['A','B']]

             A   B
2017-01-01   0   1
2017-01-02   4   5
2017-01-03   8   9
2017-01-04  12  13
2017-01-05  16  17
2017-01-06  20  21

In [14]:
# 通过位置选择数据
# 取第三行的数据
df1.iloc[2]

A     8
B     9
C    10
D    11
Name: 2017-01-03 00:00:00, dtype: int64

In [15]:
# 取某几行， 某几列
df1.iloc[1:3, 2:4]

             C   D
2017-01-02   6   7
2017-01-03  10  11

In [16]:
# 取不连续的行和列
df1.iloc[[1,2,3],[1,3]]

             B   D
2017-01-02   5   7
2017-01-03   9  11
2017-01-04  13  15

In [21]:
# 混合标签位置选择
df1.iloc[2:4, ['A','C']]

IndexError: .iloc requires numeric indexers, got ['A' 'C']

In [22]:
df1.iloc['20170102':'20170104', 2:4]

TypeError: cannot do positional indexing on DatetimeIndex with these indexers [20170102] of type str

In [23]:
df1.A

2017-01-01     0
2017-01-02     4
2017-01-03     8
2017-01-04    12
2017-01-05    16
2017-01-06    20
Freq: D, Name: A, dtype: int64

In [24]:
df1.A > 6

2017-01-01    False
2017-01-02    False
2017-01-03     True
2017-01-04     True
2017-01-05     True
2017-01-06     True
Freq: D, Name: A, dtype: bool

In [25]:
df1[df1.A > 6]

             A   B   C   D
2017-01-03   8   9  10  11
2017-01-04  12  13  14  15
2017-01-05  16  17  18  19
2017-01-06  20  21  22  23